<div class="column is-two-fifths">    
    <div class="container">
        <div class="hero">
            <div class="hero-body"><%= turbo_frame_tag id="new_post", src:new_post_path %></div>
        </div>
    </div>

    <div id="posts">
        <%= render @posts %>
    </div>
</div>